
@{
    ViewBag.Title = "Index";
}

<h2>Matches</h2>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="match">@item.Id</td>
                    <td class="match">@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
var originalColors = [];

$(function () {
    $('.match').hover(function () {
        originalColors[$(this).index('.match')] = $(this).css('background-color');
        $(this).css("background-color", "#d34242"),
        $(this).css("color", "white");
    },
    function () {
        $(this).css('background-color', originalColors[$(this).index('.match')]),
        $(this).css("color", "black");
    });
});
</script>