
@{
    ViewBag.Title = "Index";
}

<h2>Matches</h2>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        </tbody>
    </table>
</div>