@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

body.fd-background-color {
    background-color: #d34242;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Validation errors */

.field-validation-error {
    display: block;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px;
    color: #c23d3d;
}

.validation-summary-errors ul {
    display: block;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px;
    color: #c23d3d;
    list-style-type: none;
}

.text-danger-light {
    text-align: left;
    color: #fff;
}

.input-validation-error {
    border-bottom: 2px solid #c23d3d;
}

/* Heads */

hr {
    border-bottom: 1px solid #ccc;
}

.h-tag-center {
    text-align: center;
}

h4 {
    color: #313131;
}

/* Input Fields */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-control {
    height: 40px;
    border-radius: 1px;
}

.form-control option {
    height: 40px;
}

.txt-input {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    color: #fff;
    font-size: 1.4em;
    background-color: #d34242;
    border: none;
    border-bottom: 1px solid #fff;
}

/* Links */

.footer-nav-link {
    text-align: center;
}

.footer-nav-link a {
    color: #fff;
}

.footer-nav-link.special a {
    color: #858585;
}

/* Page header */

.page-header {
    height: 100px;
    margin: 0;
    background-color: #d34242;
}

/* Content Elements*/

.body-content {
    margin-top: 100px;
}

.row {
    padding: 10px 0 10px 0;
}

h2, h3, h4 {
    padding-bottom: 10px;
    color: #727272;
}

.block {
    background-color: #fff;
    border: 1px solid #ccc;
}

.block h3 {
    padding-bottom: 10px;
    color: #727272;
}

.block p {
    color: #727272;
}

.block .form-group {
    margin: 0 0 5px 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #858585;
}

.block .control-label {
    color: #727272;
    text-align: left;
}

/* Login page and Register page*/

#login-form ::-webkit-input-placeholder { /* WebKit browsers */
    color: #e3a3a3;
}

#login-form .form-group {
    text-align: center;
}

.login-btn {
    width: 100%;
    height: 35px;
    margin: 10px 0 10px 0;
    color: #fff;
    background-color: #c23d3d;
    border: none;
}

.reg-btn {
    width: 100%;
    height: 35px;
    margin: 10px 0 10px 0;
    color: #fff;
    background-color: #c23d3d;
    border: none;
}

#reg-form {
    margin-top: 50px;
}

#reg-form label {
    color: #858585;
}

.gender-left {
    padding: 0 10px 0 0;
}

.pref-right {
    padding: 0 0 0 10px;
}

.birthday-day {
    padding: 0 10px 0 0;
}

.birthday-month {
    padding: 0 10px 0 10px;
}

.birthday-year {
    padding: 0 0 0 10px;
}

/* Navigation Bar */

.navbar {
    border: none;
    background-color: #c23d3d;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-brand {
    background: url(../Content/img/facedate_logo_normal.png) no-repeat top left;
    display: block;
}

span#count-notification {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #fff;
}

/* Manage page*/

.nopadding {
    padding: 0!important;
    margin: 0!important;
}

.profile-image {
    width: 320px;
    height: 320px;
    background-color: rgba(255,255,255,0);
    position:relative;
    overflow:hidden;
    margin: 0 auto;
}

.photosize {
    width: 320px;
    height: 320px;
}

.profile-pic-upload{
    position: absolute;
    top: -74px;
}

input.profile-pic-upload-select[type="file"]{
    width: 320px!important;
    height: 342px!important;
    position: absolute;
    top: 52px;
    background: rgba(0,0,0,0) url('/Content/img/upload_image.png') 0px 320px no-repeat!important;
    border: none;

}
.profile-pic-upload-select[type="file"] input:hover {
    /*background-color: rgba(255,255,255,0.5);*/
    background-position: 0px 0px;
    }
.profile-pic-upload-select[type="file"]:active{
    border:none;
}
.profile-pic-upload-submit{
    position: absolute;
    top: 360px;
}
a.edit-link {
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #c23d3d;
}

#edit-form {
    max-width: 400px;
}

/* Profile Page*/

#profile-box {
    width: 320px;
    height: 320px;
    text-align: center;
}

.modal-dialog {
    width: 95%;
    height: 95%;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0) 0px 0px inset;
}

.modal-header {
    background-color: #ccc;
}

.modal-navigation {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}


/* Facedate main*/

#facedate_Dislike{
    background: url('/Content/img/dislike_button.png') no-repeat center center;
    background-size: 100% 100%;
    border: none;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    left: -25px;
}

#facedate_Like{
    background:url('/Content/img/like_button.png') no-repeat center center;
    background-size: 100% 100%;
    border: none;
    height:100px;
    width:100px;
    display: inline-block;
    position: absolute;
    right: -25px;
}

.like_box {
    position: relative;
    top: 10px;
}

.no-more-matches {
    padding: 25px;
    background-color: #fff;
    text-align: center;
}

.no-more-matches label {
    color: #727272;
}